In [1]:
# Importing all requisite libraries, settings some overall parameters and formatting.
%reset -f
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.dates as mdates
import seaborn as sns
import plotly
import numpy as np
import geopandas as gpd
from shapely.geometry import Point, Polygon
#from pandas_profiling import ProfileReport
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
sns.set_style('darkgrid');

In [2]:
def removeSpecialCharactersFromStationName(df):
    # Remove special characters from station names
    df.station = df.station.str.replace("/","_")
    df.station = df.station.str.replace("-","_")
    df.station = df.station.str.replace(" ","_")
    df.station = df.station.str.lower()
    return df

In [3]:
def removeSpecialCharactersFromStationTimestamps(df):
    # Remove special characters from station dates
    df['date'] = df['date'].str.replace('/','_')
    df['time'] = df['time'].str.replace(':','_')
    df['desc'] = df['desc'].str.replace(' ', '_')
    return df

In [4]:
def createStationCountsByTime(df, input_col, col_name='entry'):

    df[col_name+'_day'] = df[input_col].dt.day
    df[col_name+'_hour'] = df[input_col].dt.hour
    df[col_name+'_weekday'] = df[input_col].dt.day_name()
    df[col_name+'_year_month'] = df[input_col].dt.to_period('M')
    print(f'"{input_col}" splitted into multiple columns.\n')
    return df

In [5]:
def computeTrafficRidershipCounts(df):
    # Creating the Net_Entries, Net_Exits, and Net_Traffic columns
    df['net_entries'] = df.groupby(['control_area', 'unit', 'subunit_channel_pos', 'station'])['entries'].transform(lambda x: x.diff())
    df['net_exits'] = df.groupby(['control_area', 'unit', 'subunit_channel_pos', 'station'])['exits'].transform(lambda x: x.diff())
    df['net_traffic'] = df.net_entries + df.net_exits

    # Elimating turnstiles that count in reverse by casting all values as absolutes.
    df['net_entries'] = abs(df.net_entries)
    df['net_exits'] = abs(df.net_exits)
    df['net_traffic'] = abs(df.net_traffic)

    return df

In [6]:
def removeOutliers(df):
    # Elimate outliers in the data by reducing to the 99th percentile. 
    q = np.nanquantile(df["net_entries"], .99)
    df = df[df["net_entries"] < q]

    q2 = np.nanquantile(df["net_exits"], .99)
    df = df[df["net_exits"] < q2]

    q3 = np.nanquantile(df['net_traffic'], .99)
    df=df[df['net_traffic'] < q3]
    
    return df

In [7]:
def removeSpecialCharactersFromStopName(df):
    df.stop_name = df.stop_name.str.replace(" - ","_")
    df.stop_name = df.stop_name.str.replace(" ","_")
    df.stop_name = df.stop_name.str.replace("(","")
    df.stop_name = df.stop_name.str.replace(")","")
    df.stop_name = df.stop_name.str.replace("/","_")
    df.stop_name = df.stop_name.str.replace(".","")
    df.stop_name = df.stop_name.str.replace("-","_")
    df.stop_name = df.stop_name.str.lower()
    return df

In [8]:
def matchStationNames(df,df_gtfs):
    
    mat1 = []
    mat2 = []
    p= []
    list1 = df.station.tolist()
    list2 = df_gtfs.stop_name.tolist()
 
    threshold = 50

    for i in list1:
        mat1.append(process.extractOne(i, list2, scorer=fuzz.ratio))
    df['matches'] = mat1

    for j in df['matches']:
        if j[1] >= threshold:
            p.append(j[0])

        mat2.append(','.join(p))
        p= []

    df['matches'] = mat2
    return df,df_gtfs

In [9]:
import rtree
import pygeos
def combineGTFSStopsAndStationData(df):
   
    df['geometry'] = [Point(xy) for xy in zip(np.array(df['gtfs_longitude']), np.array(df['gtfs_latitude']))]
    gpd.options.use_pygeos = True
    
    cdta_map = gpd.read_file("..\\data\\nycdta2020_22b\\nycdta2020.shp")
    cdta_map.to_crs(4326, inplace=True)
    
    cdta_geo_df = cdta_map[['CDTA2020', 'CDTAName','geometry', 'Shape_Leng', 'Shape_Area','BoroName']].set_index('CDTA2020', drop=True)
    
    top_station_geo_df = gpd.GeoDataFrame(df, crs=4326, geometry = df.geometry)
    top_station_geo_df.to_crs(4326, inplace=True)
    
    #df.to_csv('allstation1.csv')
    # Locate each Station Point Geometry within NTA Polygon geometry
    station_all_df = gpd.sjoin(cdta_geo_df,top_station_geo_df, how="left", op="contains")
    station_all_df = station_all_df.reset_index()
    
    #print('before ctda cleanup')
    #print(station_all_df.head(1))
    #print(station_all_df.columns)
    #print(station_all_df.shape)
    
    station_all_df = station_all_df[station_all_df['CDTA2020'].str.match('^[a-zA-Z]{2}\d{2}$')]
    
    #print('after ctda cleanup')
    #print(station_all_df.head(1))
    #print(station_all_df.columns)
    #print(station_all_df.shape)
    
    #Few stations that belong to Manhattan Burough were identified based on the CDTA code
    station_all_df['borough'] = station_all_df.borough.fillna("M")
    
    print('combineGTFSStopsAndStationData ouput..')
    print(station_all_df.columns)   
    print(station_all_df.head(1))
    cdta_dict = cdta_map[["CDTA2020", "CDTAName"]].set_index("CDTA2020").to_dict()["CDTAName"]
    return station_all_df,cdta_dict

In [10]:
#1. Load first six months of 2022 Ridership data for subway stations using Turnstile datasource.

engine = create_engine("sqlite:///C:\\Users\\panch\\finaldeliverable\\NYC-Transportation-and-Socioeconomic-Data-Analysis\\subway\\notebooks\\mta_data.db")
mta_df = pd.read_sql('SELECT * FROM mta_data;', engine)

#Cleanup data from station names
# Rename mta_df columns to make them easier to work wit
mta_df = mta_df.rename(columns={'C/A': 'control_area', 'UNIT': 'unit', 'SCP': 'subunit_channel_pos', 'STATION':'station', 'LINENAME':'subway_lines', 'DIVISION':'division', 'DATE':'date', 'TIME':'time', 'DESC':'desc', 'ENTRIES':'entries', 'EXITS':'exits'})
mta_df = removeSpecialCharactersFromStationName(mta_df)
mta_df = removeSpecialCharactersFromStationTimestamps(mta_df)

mta_df['subunit_channel_pos'] = mta_df['subunit_channel_pos'].str.replace('-', '_')

# Create UniqueId column for grouping by 
mta_df['unique_id'] = mta_df['control_area'] + '_' + mta_df['unit'] + '_' + mta_df['subunit_channel_pos'] + '_' + mta_df['station'] + '_' + mta_df['date'] + '_' + mta_df['time'] + '_' + mta_df['desc']
mta_df['date_time'] = mta_df.date + ' ' + mta_df.time
mta_df.date_time = pd.to_datetime(mta_df['date_time'], format = '%m_%d_%Y %H_%M_%S')
mta_df = mta_df[mta_df.desc != 'RECOVR_AUD']

mta_df = computeTrafficRidershipCounts(mta_df)
mta_df.fillna(0, inplace=True)

# Elimate outliers in the data by reducing to the 99th percentile. 
mta_df = removeOutliers(mta_df)

print(mta_df.shape)

mta_df = mta_df[(mta_df['date_time']>pd.Timestamp(2022,1,1)) & (mta_df['date_time']<pd.Timestamp(2022,7,1))]
print('after removng days in 2021')
print(mta_df.shape)

mta_df = createStationCountsByTime(mta_df, 'date_time', col_name='Station_Readings_Entry')
mta_df = createStationCountsByTime(mta_df, 'date_time', col_name='Station_Readings_Exit')


print(mta_df.columns)
print(mta_df.shape)
print(mta_df.head(10))

print('Stations With passenger counts and timestamps ,net entries and net exits and net traffic(which is sum of net entry and exit')

(5287402, 16)
after removng days in 2021
(5082415, 16)
"date_time" splitted into multiple columns.

"date_time" splitted into multiple columns.

Index(['control_area', 'unit', 'subunit_channel_pos', 'station',
       'subway_lines', 'division', 'date', 'time', 'desc', 'entries', 'exits',
       'unique_id', 'date_time', 'net_entries', 'net_exits', 'net_traffic',
       'Station_Readings_Entry_day', 'Station_Readings_Entry_hour',
       'Station_Readings_Entry_weekday', 'Station_Readings_Entry_year_month',
       'Station_Readings_Exit_day', 'Station_Readings_Exit_hour',
       'Station_Readings_Exit_weekday', 'Station_Readings_Exit_year_month'],
      dtype='object')
(5082415, 24)
  control_area  unit subunit_channel_pos station subway_lines division  \
0         A002  R051            02_00_00   59_st      NQR456W      BMT
1         A002  R051            02_00_00   59_st      NQR456W      BMT
2         A002  R051            02_00_00   59_st      NQR456W      BMT
3         A002  R051            02_00_00   59_st      NQR456W      BMT
4         A002  R051            02_00_00   59_st      NQR456W      BMT
5         A002  R051            02_00_00   59_st      NQR456W      BMT
6         A002  R051            02_00_00   59_st      NQR456W      BMT
7         A002  R051            02_00_00   59_st      NQR456W      BMT
8         A002  R051            02_00_00   59_st      NQR456W      BMT
9         A002  R051            02_00_00   59_st      NQR456W      BMT

         date      time     desc  entries  ...  net_exits net_traffic  \
0  06_18_2022  00_00_00  REGULAR  7726949  ...        0.0         0.0
1  06_18_2022  04_00_00  REGULAR  7726955  ...        8.0        14.0
2  06_18_2022  08_00_00  REGULAR  7726964  ...       24.0        33.0
3  06_18_2022  12_00_00  REGULAR  7726999  ...       84.0       119.0
4  06_18_2022  16_00_00  REGULAR  7727100  ...       42.0       143.0
5  06_18_2022  20_00_00  REGULAR  7727190  ...       50.0       140.0
6  06_19_2022  00_00_00  REGULAR  7727254  ...       27.0        91.0
7  06_19_2022  04_00_00  REGULAR  7727259  ...        8.0        13.0
8  06_19_2022  08_00_00  REGULAR  7727262  ...       10.0        13.0
9  06_19_2022  12_00_00  REGULAR  7727291  ...       53.0        82.0

  Station_Readings_Entry_day  Station_Readings_Entry_hour  \
0                         18                            0
1                         18                            4
2                         18                            8
3                         18                           12
4                         18                           16
5                         18                           20
6                         19                            0
7                         19                            4
8                         19                            8
9                         19                           12

   Station_Readings_Entry_weekday  Station_Readings_Entry_year_month  \
0                        Saturday                            2022-06
1                        Saturday                            2022-06
2                        Saturday                            2022-06
3                        Saturday                            2022-06
4                        Saturday                            2022-06
5                        Saturday                            2022-06
6                          Sunday                            2022-06
7                          Sunday                            2022-06
8                          Sunday                            2022-06
9                          Sunday                            2022-06

   Station_Readings_Exit_day  Station_Readings_Exit_hour  \
0                         18                           0
1                         18                           4
2                         18                           8
3                         18                          12
4                         18                          16
5                         18                          20
6                         19                           0
7                         19                           4
8                         19                           8
9                         19                          12

  Station_Readings_Exit_weekday Station_Readings_Exit_year_month
0                      Saturday                          2022-06
1                      Saturday                          2022-06
2                      Saturday                          2022-06
3                      Saturday                          2022-06
4                      Saturday                          2022-06
5                      Saturday                          2022-06
6                        Sunday                          2022-06
7                        Sunday                          2022-06
8                        Sunday                          2022-06
9                        Sunday                          2022-06

[10 rows x 24 columns]
Stations With passenger counts and timestamps ,net entries and net exits and net traffic(which is sum of net entry and exit

In [11]:
#2. Load GTFS stop data for mapping Borough and CDTA using Lat and Long geometry to station data.
cols_to_keep = ["station","entries", "exits","net_entries","net_exits","net_traffic","Station_Readings_Exit_weekday","Station_Readings_Exit_year_month","Station_Readings_Exit_day","Station_Readings_Exit_hour","Station_Readings_Entry_weekday","Station_Readings_Entry_year_month","Station_Readings_Entry_day","Station_Readings_Entry_hour"]
group_cols = ["net_traffic"]

station_data_gtfs = pd.read_csv('../data/subway/stationnames.csv')
station_data_gtfs = removeSpecialCharactersFromStopName(station_data_gtfs)

mta_df = mta_df[cols_to_keep]
                
top_stations = mta_df.groupby('station')[group_cols].sum().sort_values(by='net_traffic', ascending=False).reset_index().copy()

top_stations,station_data_gtfs = matchStationNames(top_stations,station_data_gtfs)

#Merge station names from GTFS and Turnstile data for mapping CDTA
top_station_df = pd.merge(top_stations, right=station_data_gtfs, left_on='matches', right_on='stop_name', how='left')

#Merge CDTA Code and Burough code into single DF
stationWithCdta,cdta_dict = combineGTFSStopsAndStationData(top_station_df)
stationWithCdta.dropna(subset=['station'], how='all', inplace=True)
#stationWithCdta.info() 

stationWithCdta = stationWithCdta.rename(columns={'CDTA2020': 'cdtaCode'})
print(stationWithCdta.shape)

#station name is mapped to wrong borough
stationWithCdta = stationWithCdta.drop(stationWithCdta.index[226])
print(stationWithCdta.shape)

#Create CDTA Dictionary
cdta_station_dict = stationWithCdta[["cdtaCode", "station"]].set_index("station").to_dict()["cdtaCode"]

C:\Users\panch\AppData\Local\Temp\ipykernel_24064\2532346317.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.stop_name = df.stop_name.str.replace("(","")
C:\Users\panch\AppData\Local\Temp\ipykernel_24064\2532346317.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.stop_name = df.stop_name.str.replace(")","")
C:\Users\panch\AppData\Local\Temp\ipykernel_24064\2532346317.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.stop_name = df.stop_name.str.replace(".","")

combineGTFSStopsAndStationData ouput..
Index(['CDTA2020', 'CDTAName', 'geometry', 'Shape_Leng', 'Shape_Area',
       'BoroName', 'index_right', 'station', 'net_traffic', 'matches',
       'ogc_fid', 'station_id', 'complex_id', 'gtfs_stop_id', 'division',
       'line', 'stop_name', 'borough', 'daytime_routes', 'structure',
       'gtfs_latitude', 'gtfs_longitude', 'north_direction_label',
       'south_direction_label'],
      dtype='object')
  CDTA2020                                        CDTAName  \
0     BK01  BK01 Williamsburg-Greenpoint (CD 1 Equivalent)

                                            geometry    Shape_Leng  \
0  POLYGON ((-73.92406 40.71411, -73.92404 40.714...  65655.741577

     Shape_Area  BoroName  index_right      station  net_traffic      matches  \
0  1.316597e+08  Brooklyn        244.0  flushing_av    1645919.0  flushing_av

   ...  division       line    stop_name borough daytime_routes structure  \
0  ...       IND  Crosstown  flushing_av      Bk              G    Subway

  gtfs_latitude gtfs_longitude north_direction_label south_direction_label
0     40.700377     -73.950234                Queens             Church Av

[1 rows x 24 columns]
(505, 24)
(504, 24)

C:\Users\panch\miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:127: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

In [12]:
print(cdta_station_dict.values())

dict_values(['BK03', 'BK01', 'BK01', 'BK01', 'BK01', 'BK01', 'BK01', 'BK01', 'QN01', 'BK01', 'BK01', 'MN03', 'BK01', 'BK06', 'BK02', 'MN01', 'BK02', 'BK02', 'BK02', 'BK06', 'BK02', 'BK02', 'BK02', 'BK02', 'BK02', 'BK02', 'BK02', 'BK02', 'BK02', 'BK04', 'BK02', 'BK09', 'BK03', 'BK03', 'BK09', 'BK03', 'BK03', 'BK03', 'BK16', 'BK04', 'QN05', 'BK04', 'BK04', 'BK04', 'BK04', 'BK04', 'BK04', 'BK04', 'BK05', 'BK05', 'BK05', 'BK05', 'BK16', 'BK16', 'BK05', 'BK05', 'BK05', 'BK05', 'BK05', 'BK05', 'BK05', 'BK05', 'BK05', 'BK05', 'MN05', 'BK06', 'MN02', 'BK06', 'BK06', 'BK06', 'MN04', 'BK07', 'BX01', 'BK12', 'BK07', 'MN08', 'BK07', 'BK07', 'QN01', 'MN01', 'BK09', 'BK09', 'BK09', 'BK09', 'BK09', 'BK09', 'BK09', 'BK09', 'BK09', 'BK10', 'MN64', 'MN08', 'BK10', 'BK11', 'BK14', 'MN07', 'BK11', 'BK11', 'BK12', 'BK11', 'BK15', 'BK15', 'BK12', 'MN05', 'BK12', 'BK12', 'BK12', 'BK12', 'BK17', 'BK12', 'BK13', 'BK13', 'BK13', 'BK13', 'BK13', 'BK13', 'BK13', 'BK13', 'BK14', 'BK14', 'BK14', 'BK14', 'BK14', 'BK14', 'BK14', 'BK15', 'BK15', 'BK16', 'BK16', 'BK16', 'BK16', 'BK16', 'BK16', 'BK16', 'BK16', 'BK16', 'BK16', 'BK17', 'BK17', 'BK17', 'BK17', 'BK17', 'BK18', 'BK55', 'BX01', 'BX01', 'BX01', 'BX01', 'BX01', 'BX01', 'BX01', 'BX01', 'BX02', 'BX02', 'BX02', 'BX02', 'BX02', 'BX02', 'BX03', 'BX03', 'BX04', 'BX04', 'BX04', 'BX04', 'BX05', 'BX05', 'BX05', 'BX05', 'BX05', 'BX05', 'BX07', 'BX06', 'BX06', 'BX06', 'BX07', 'BX07', 'BX07', 'BX07', 'BX07', 'BX08', 'BX08', 'BX09', 'BX09', 'BX09', 'BX09', 'BX10', 'BX10', 'BX10', 'BX10', 'BX10', 'BX10', 'BX11', 'BX11', 'BX11', 'BX12', 'BX12', 'BX12', 'BX12', 'BX12', 'BX12', 'BX12', 'BX12', 'BX12', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN01', 'MN02', 'MN02', 'MN02', 'MN02', 'MN02', 'MN02', 'MN02', 'MN02', 'MN02', 'MN02', 'MN04', 'MN04', 'MN02', 'MN03', 'MN03', 'MN03', 'MN03', 'MN03', 'MN04', 'MN05', 'MN05', 'QN02', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN06', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN05', 'MN06', 'MN06', 'MN06', 'MN64', 'MN07', 'MN07', 'MN64', 'MN64', 'MN07', 'MN08', 'MN08', 'MN08', 'MN08', 'MN10', 'MN09', 'MN11', 'MN09', 'MN10', 'MN10', 'MN10', 'MN11', 'MN10', 'MN11', 'MN12', 'MN12', 'MN12', 'MN12', 'MN12', 'MN12', 'MN12', 'MN12', 'MN12', 'MN12', 'MN12', 'MN64', 'MN64', 'MN64', 'QN01', 'QN01', 'QN01', 'QN01', 'QN02', 'QN01', 'QN01', 'QN01', 'QN01', 'QN02', 'QN02', 'QN02', 'QN02', 'QN02', 'QN02', 'QN02', 'QN02', 'QN02', 'QN02', 'QN03', 'QN03', 'QN03', 'QN10', 'QN09', 'QN04', 'QN04', 'QN04', 'QN04', 'QN04', 'QN04', 'QN05', 'QN05', 'QN05', 'QN06', 'QN06', 'QN06', 'QN06', 'QN07', 'QN09', 'QN10', 'QN09', 'QN09', 'QN09', 'QN10', 'QN10', 'QN10', 'QN10', 'QN10', 'QN10', 'QN12', 'QN12', 'QN12', 'QN12', 'QN12', 'QN12', 'QN12', 'QN14', 'QN14', 'QN14', 'QN14', 'QN14', 'QN14', 'QN14', 'QN14', 'QN14', 'QN14', 'QN81', 'QN81', 'QN83', 'SI01', 'SI01'])

In [13]:
# 3. Calculate CDTA NetEntries and NetExits
print(mta_df.columns)
net_entry_stations = mta_df.groupby(['station'])["net_entries"].sum().reset_index().copy()
net_exit_stations = mta_df.groupby(['station'])["net_exits"].sum().reset_index().copy()

net_entry_stations['cdtaCode'] = net_entry_stations['station'].map(cdta_station_dict).dropna()
net_exit_stations['cdtaCode'] = net_exit_stations['station'].map(cdta_station_dict).dropna()

net_entry_cdta = net_entry_stations.groupby(['cdtaCode']).sum()
net_exit_cdta = net_exit_stations.groupby(['cdtaCode']).sum()

print(net_entry_cdta.shape)
print(net_exit_cdta.shape)

print(net_entry_cdta.head(1))
print(net_exit_cdta.head(1))

Index(['station', 'entries', 'exits', 'net_entries', 'net_exits',
       'net_traffic', 'Station_Readings_Exit_weekday',
       'Station_Readings_Exit_year_month', 'Station_Readings_Exit_day',
       'Station_Readings_Exit_hour', 'Station_Readings_Entry_weekday',
       'Station_Readings_Entry_year_month', 'Station_Readings_Entry_day',
       'Station_Readings_Entry_hour'],
      dtype='object')
(57, 1)
(57, 1)
          net_entries
cdtaCode
BK01        5813770.0
           net_exits
cdtaCode
BK01      10136488.0

C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1987195146.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  net_entry_cdta = net_entry_stations.groupby(['cdtaCode']).sum()
C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1987195146.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  net_exit_cdta = net_exit_stations.groupby(['cdtaCode']).sum()

In [14]:
# 4. Calculate CDTA Day wise (1 to 31 ) NetEntries and NetExits

print(mta_df.columns)
day_entry_stations = mta_df.groupby(['Station_Readings_Entry_day','station'])["net_entries"].sum().reset_index().copy()
day_exit_stations = mta_df.groupby(['Station_Readings_Exit_day','station'])["net_exits"].sum().reset_index().copy()

day_entry_stations['cdtaCode'] = day_entry_stations['station'].map(cdta_station_dict).dropna()
day_exit_stations['cdtaCode'] = day_exit_stations['station'].map(cdta_station_dict).dropna()

## Entry day count by CDTA
entry_day_count_cdta = day_entry_stations.groupby(['cdtaCode', 'Station_Readings_Entry_day']).sum().reset_index()\
    [['cdtaCode', 'Station_Readings_Entry_day','net_entries']].pivot(index='cdtaCode', columns="Station_Readings_Entry_day", values="net_entries")
entry_day_count_cdta.columns = ["Entry_total_trip_count_day_" + str(col) for col in entry_day_count_cdta.columns]

## Exit day count by CDTA
exit_day_count_cdta = day_exit_stations.groupby(['cdtaCode', 'Station_Readings_Exit_day']).sum().reset_index()\
    [['cdtaCode', 'Station_Readings_Exit_day','net_exits']].pivot(index='cdtaCode', columns="Station_Readings_Exit_day", values="net_exits")
exit_day_count_cdta.columns = ["Exit_total_trip_count_day_" + str(col) for col in exit_day_count_cdta.columns]

print(entry_day_count_cdta.shape)
print(exit_day_count_cdta.shape)

print(entry_day_count_cdta.head(1))
print(exit_day_count_cdta.head(1))

Index(['station', 'entries', 'exits', 'net_entries', 'net_exits',
       'net_traffic', 'Station_Readings_Exit_weekday',
       'Station_Readings_Exit_year_month', 'Station_Readings_Exit_day',
       'Station_Readings_Exit_hour', 'Station_Readings_Entry_weekday',
       'Station_Readings_Entry_year_month', 'Station_Readings_Entry_day',
       'Station_Readings_Entry_hour'],
      dtype='object')
(57, 31)
(57, 31)
          Entry_total_trip_count_day_1  Entry_total_trip_count_day_2  \
cdtaCode
BK01                          187210.0                      193948.0

          Entry_total_trip_count_day_3  Entry_total_trip_count_day_4  \
cdtaCode
BK01                          215215.0                      204971.0

          Entry_total_trip_count_day_5  Entry_total_trip_count_day_6  \
cdtaCode
BK01                          189750.0                      189721.0

          Entry_total_trip_count_day_7  Entry_total_trip_count_day_8  \
cdtaCode
BK01                          205888.0                      205006.0

          Entry_total_trip_count_day_9  Entry_total_trip_count_day_10  ...  \
cdtaCode                                                               ...
BK01                          196946.0                       223724.0  ...

          Entry_total_trip_count_day_22  Entry_total_trip_count_day_23  \
cdtaCode
BK01                           194654.0                       199996.0

          Entry_total_trip_count_day_24  Entry_total_trip_count_day_25  \
cdtaCode
BK01                           218084.0                       193284.0

          Entry_total_trip_count_day_26  Entry_total_trip_count_day_27  \
cdtaCode
BK01                           158095.0                       158346.0

          Entry_total_trip_count_day_28  Entry_total_trip_count_day_29  \
cdtaCode
BK01                           172061.0                       116571.0

          Entry_total_trip_count_day_30  Entry_total_trip_count_day_31
cdtaCode
BK01                           101699.0                       112812.0

[1 rows x 31 columns]
          Exit_total_trip_count_day_1  Exit_total_trip_count_day_2  \
cdtaCode
BK01                         320164.0                     333817.0

          Exit_total_trip_count_day_3  Exit_total_trip_count_day_4  \
cdtaCode
BK01                         365521.0                     338168.0

          Exit_total_trip_count_day_5  Exit_total_trip_count_day_6  \
cdtaCode
BK01                         339166.0                     333466.0

          Exit_total_trip_count_day_7  Exit_total_trip_count_day_8  \
cdtaCode
BK01                         339795.0                     355091.0

          Exit_total_trip_count_day_9  Exit_total_trip_count_day_10  ...  \
cdtaCode                                                             ...
BK01                         343772.0                      382398.0  ...

          Exit_total_trip_count_day_22  Exit_total_trip_count_day_23  \
cdtaCode
BK01                          350761.0                      357091.0

          Exit_total_trip_count_day_24  Exit_total_trip_count_day_25  \
cdtaCode
BK01                          386997.0                      323001.0

          Exit_total_trip_count_day_26  Exit_total_trip_count_day_27  \
cdtaCode
BK01                          270503.0                      279970.0

          Exit_total_trip_count_day_28  Exit_total_trip_count_day_29  \
cdtaCode
BK01                          288808.0                      218724.0

          Exit_total_trip_count_day_30  Exit_total_trip_count_day_31
cdtaCode
BK01                          189856.0                      184907.0

[1 rows x 31 columns]

C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1926805910.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  entry_day_count_cdta = day_entry_stations.groupby(['cdtaCode', 'Station_Readings_Entry_day']).sum().reset_index()\
C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1926805910.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  exit_day_count_cdta = day_exit_stations.groupby(['cdtaCode', 'Station_Readings_Exit_day']).sum().reset_index()\

In [15]:
#5. Calculate CDTA Hour wise (1 to 24 ) NetEntries and NetExits

print(mta_df.columns)
hour_entry_stations = mta_df.groupby(['Station_Readings_Entry_hour','station'])["net_entries"].sum().reset_index().copy()
hour_exit_stations = mta_df.groupby(['Station_Readings_Exit_hour','station'])["net_exits"].sum().reset_index().copy()

hour_entry_stations['cdtaCode'] = hour_entry_stations['station'].map(cdta_station_dict).dropna()
hour_exit_stations['cdtaCode'] = hour_exit_stations['station'].map(cdta_station_dict).dropna()

 ## Entry Hour count by CDTA
entry_hour_count_cdta = hour_entry_stations.groupby(['cdtaCode', 'Station_Readings_Entry_hour']).sum().reset_index()\
    [['cdtaCode', 'Station_Readings_Entry_hour','net_entries']].pivot(index='cdtaCode', columns="Station_Readings_Entry_hour", values="net_entries")
entry_hour_count_cdta.columns = ["Entry_total_trip_count_hour_" + str(col) for col in entry_hour_count_cdta.columns]

 ##  Exit Hour count by CDTA
exit_hour_count_cdta = hour_exit_stations.groupby(['cdtaCode', 'Station_Readings_Exit_hour']).sum().reset_index()\
    [['cdtaCode', 'Station_Readings_Exit_hour','net_exits']].pivot(index='cdtaCode', columns="Station_Readings_Exit_hour", values="net_exits")
exit_hour_count_cdta.columns = ["Exit_total_trip_count_hour_" + str(col) for col in exit_hour_count_cdta.columns]

print(exit_hour_count_cdta.shape)
print(entry_hour_count_cdta.shape)


print(exit_hour_count_cdta.head(1))
print(entry_hour_count_cdta.head(1))

Index(['station', 'entries', 'exits', 'net_entries', 'net_exits',
       'net_traffic', 'Station_Readings_Exit_weekday',
       'Station_Readings_Exit_year_month', 'Station_Readings_Exit_day',
       'Station_Readings_Exit_hour', 'Station_Readings_Entry_weekday',
       'Station_Readings_Entry_year_month', 'Station_Readings_Entry_day',
       'Station_Readings_Entry_hour'],
      dtype='object')
(57, 24)
(57, 24)
          Exit_total_trip_count_hour_0  Exit_total_trip_count_hour_1  \
cdtaCode
BK01                          764468.0                      245671.0

          Exit_total_trip_count_hour_2  Exit_total_trip_count_hour_3  \
cdtaCode
BK01                               NaN                      104974.0

          Exit_total_trip_count_hour_4  Exit_total_trip_count_hour_5  \
cdtaCode
BK01                          188527.0                       65138.0

          Exit_total_trip_count_hour_6  Exit_total_trip_count_hour_7  \
cdtaCode
BK01                             337.0                      127722.0

          Exit_total_trip_count_hour_8  Exit_total_trip_count_hour_9  ...  \
cdtaCode                                                              ...
BK01                          521986.0                      308306.0  ...

          Exit_total_trip_count_hour_14  Exit_total_trip_count_hour_15  \
cdtaCode
BK01                             1155.0                       526101.0

          Exit_total_trip_count_hour_16  Exit_total_trip_count_hour_17  \
cdtaCode
BK01                          1234967.0                       494996.0

          Exit_total_trip_count_hour_18  Exit_total_trip_count_hour_19  \
cdtaCode
BK01                             1086.0                       758178.0

          Exit_total_trip_count_hour_20  Exit_total_trip_count_hour_21  \
cdtaCode
BK01                          1692852.0                       631265.0

          Exit_total_trip_count_hour_22  Exit_total_trip_count_hour_23
cdtaCode
BK01                                NaN                       510340.0

[1 rows x 24 columns]
          Entry_total_trip_count_hour_0  Entry_total_trip_count_hour_1  \
cdtaCode
BK01                           323214.0                        96418.0

          Entry_total_trip_count_hour_2  Entry_total_trip_count_hour_3  \
cdtaCode
BK01                                NaN                        50590.0

          Entry_total_trip_count_hour_4  Entry_total_trip_count_hour_5  \
cdtaCode
BK01                            76405.0                        26733.0

          Entry_total_trip_count_hour_6  Entry_total_trip_count_hour_7  \
cdtaCode
BK01                              254.0                        83702.0

          Entry_total_trip_count_hour_8  Entry_total_trip_count_hour_9  ...  \
cdtaCode                                                                ...
BK01                           376738.0                       231791.0  ...

          Entry_total_trip_count_hour_14  Entry_total_trip_count_hour_15  \
cdtaCode
BK01                               755.0                        322859.0

          Entry_total_trip_count_hour_16  Entry_total_trip_count_hour_17  \
cdtaCode
BK01                            748120.0                        326888.0

          Entry_total_trip_count_hour_18  Entry_total_trip_count_hour_19  \
cdtaCode
BK01                               662.0                        454620.0

          Entry_total_trip_count_hour_20  Entry_total_trip_count_hour_21  \
cdtaCode
BK01                            819888.0                        287416.0

          Entry_total_trip_count_hour_22  Entry_total_trip_count_hour_23
cdtaCode
BK01                                 NaN                        212888.0

[1 rows x 24 columns]

C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1115902608.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  entry_hour_count_cdta = hour_entry_stations.groupby(['cdtaCode', 'Station_Readings_Entry_hour']).sum().reset_index()\
C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1115902608.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  exit_hour_count_cdta = hour_exit_stations.groupby(['cdtaCode', 'Station_Readings_Exit_hour']).sum().reset_index()\

In [16]:
#6. Calculate CDTA Weekday wise (Sunday to Saturday ) NetEntries and NetExits

print(mta_df.columns)
weekday_entry_stations = mta_df.groupby(['Station_Readings_Entry_weekday','station'])["net_entries"].sum().reset_index().copy()
weekday_exit_stations = mta_df.groupby(['Station_Readings_Exit_weekday','station'])["net_exits"].sum().reset_index().copy()

weekday_entry_stations['cdtaCode'] = weekday_entry_stations['station'].map(cdta_station_dict).dropna()
weekday_exit_stations['cdtaCode'] = weekday_exit_stations['station'].map(cdta_station_dict).dropna()

 ## Entry Weekday count by CDTA
entry_weekday_count_cdta = weekday_entry_stations.groupby(['cdtaCode', 'Station_Readings_Entry_weekday']).sum().reset_index()\
    [['cdtaCode', 'Station_Readings_Entry_weekday','net_entries']].pivot(index='cdtaCode', columns="Station_Readings_Entry_weekday", values="net_entries")
entry_weekday_count_cdta.columns = ["Entry_total_trip_count_weekday_" + str(col) for col in entry_weekday_count_cdta.columns]

 ## Exit Weekday count by CDTA
exit_weekday_count_cdta = weekday_exit_stations.groupby(['cdtaCode', 'Station_Readings_Exit_weekday']).sum().reset_index()\
    [['cdtaCode', 'Station_Readings_Exit_weekday','net_exits']].pivot(index='cdtaCode', columns="Station_Readings_Exit_weekday", values="net_exits")
exit_weekday_count_cdta.columns = ["Exit_total_trip_count_weekday_" + str(col) for col in exit_weekday_count_cdta.columns]

print(exit_weekday_count_cdta.shape)
print(entry_weekday_count_cdta.shape)

print(exit_weekday_count_cdta.head(1))
print(entry_weekday_count_cdta.head(1))

Index(['station', 'entries', 'exits', 'net_entries', 'net_exits',
       'net_traffic', 'Station_Readings_Exit_weekday',
       'Station_Readings_Exit_year_month', 'Station_Readings_Exit_day',
       'Station_Readings_Exit_hour', 'Station_Readings_Entry_weekday',
       'Station_Readings_Entry_year_month', 'Station_Readings_Entry_day',
       'Station_Readings_Entry_hour'],
      dtype='object')
(57, 7)
(57, 7)
          Exit_total_trip_count_weekday_Friday  \
cdtaCode
BK01                                 1672489.0

          Exit_total_trip_count_weekday_Monday  \
cdtaCode
BK01                                 1410135.0

          Exit_total_trip_count_weekday_Saturday  \
cdtaCode
BK01                                   1068129.0

          Exit_total_trip_count_weekday_Sunday  \
cdtaCode
BK01                                 1165246.0

          Exit_total_trip_count_weekday_Thursday  \
cdtaCode
BK01                                   1644535.0

          Exit_total_trip_count_weekday_Tuesday  \
cdtaCode
BK01                                  1545492.0

          Exit_total_trip_count_weekday_Wednesday
cdtaCode
BK01                                    1630462.0
          Entry_total_trip_count_weekday_Friday  \
cdtaCode
BK01                                   962393.0

          Entry_total_trip_count_weekday_Monday  \
cdtaCode
BK01                                   863338.0

          Entry_total_trip_count_weekday_Saturday  \
cdtaCode
BK01                                     529582.0

          Entry_total_trip_count_weekday_Sunday  \
cdtaCode
BK01                                   534670.0

          Entry_total_trip_count_weekday_Thursday  \
cdtaCode
BK01                                     984481.0

          Entry_total_trip_count_weekday_Tuesday  \
cdtaCode
BK01                                    953658.0

          Entry_total_trip_count_weekday_Wednesday
cdtaCode
BK01                                      985648.0

C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1422832948.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  entry_weekday_count_cdta = weekday_entry_stations.groupby(['cdtaCode', 'Station_Readings_Entry_weekday']).sum().reset_index()\
C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1422832948.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  exit_weekday_count_cdta = weekday_exit_stations.groupby(['cdtaCode', 'Station_Readings_Exit_weekday']).sum().reset_index()\

In [17]:
#7. Calculate CDTA Year and Month wise NetEntries and NetExits

print(mta_df.columns)
year_month_entry_stations = mta_df.groupby(['Station_Readings_Entry_year_month','station'])["net_entries"].sum().reset_index().copy()
year_month_exit_stations = mta_df.groupby(['Station_Readings_Exit_year_month','station'])["net_exits"].sum().reset_index().copy()

year_month_entry_stations['cdtaCode'] = year_month_entry_stations['station'].map(cdta_station_dict).dropna()
year_month_exit_stations['cdtaCode'] = year_month_exit_stations['station'].map(cdta_station_dict).dropna()

 ## Entry Year and Monthwise count by CDTA
entry_year_month_count_cdta = year_month_entry_stations.groupby(['cdtaCode', 'Station_Readings_Entry_year_month']).sum().reset_index()\
    [['cdtaCode', 'Station_Readings_Entry_year_month','net_entries']].pivot(index='cdtaCode', columns="Station_Readings_Entry_year_month", values="net_entries")
entry_year_month_count_cdta.columns = ["Entry_total_trip_count_year_month_" + str(col) for col in entry_year_month_count_cdta.columns]

 ## Exit Year and Monthwise count by CDTA
exit_year_month_count_cdta = year_month_exit_stations.groupby(['cdtaCode', 'Station_Readings_Exit_year_month']).sum().reset_index()\
    [['cdtaCode', 'Station_Readings_Exit_year_month','net_exits']].pivot(index='cdtaCode', columns="Station_Readings_Exit_year_month", values="net_exits")
exit_year_month_count_cdta.columns = ["Exit_total_trip_count_year_month_" + str(col) for col in exit_year_month_count_cdta.columns]

print(exit_year_month_count_cdta.shape)
print(entry_year_month_count_cdta.shape)
print(exit_year_month_count_cdta.head(1))
print(entry_year_month_count_cdta.head(1))

Index(['station', 'entries', 'exits', 'net_entries', 'net_exits',
       'net_traffic', 'Station_Readings_Exit_weekday',
       'Station_Readings_Exit_year_month', 'Station_Readings_Exit_day',
       'Station_Readings_Exit_hour', 'Station_Readings_Entry_weekday',
       'Station_Readings_Entry_year_month', 'Station_Readings_Entry_day',
       'Station_Readings_Entry_hour'],
      dtype='object')
(57, 6)
(57, 6)
          Exit_total_trip_count_year_month_2022-01  \
cdtaCode
BK01                                     1484602.0

          Exit_total_trip_count_year_month_2022-02  \
cdtaCode
BK01                                     1563017.0

          Exit_total_trip_count_year_month_2022-03  \
cdtaCode
BK01                                     1887375.0

          Exit_total_trip_count_year_month_2022-04  \
cdtaCode
BK01                                     1788293.0

          Exit_total_trip_count_year_month_2022-05  \
cdtaCode
BK01                                     1909177.0

          Exit_total_trip_count_year_month_2022-06
cdtaCode
BK01                                     1504024.0
          Entry_total_trip_count_year_month_2022-01  \
cdtaCode
BK01                                       896732.0

          Entry_total_trip_count_year_month_2022-02  \
cdtaCode
BK01                                       940687.0

          Entry_total_trip_count_year_month_2022-03  \
cdtaCode
BK01                                      1106402.0

          Entry_total_trip_count_year_month_2022-04  \
cdtaCode
BK01                                      1008330.0

          Entry_total_trip_count_year_month_2022-05  \
cdtaCode
BK01                                      1057708.0

          Entry_total_trip_count_year_month_2022-06
cdtaCode
BK01                                       803911.0

C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1830722939.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  entry_year_month_count_cdta = year_month_entry_stations.groupby(['cdtaCode', 'Station_Readings_Entry_year_month']).sum().reset_index()\
C:\Users\panch\AppData\Local\Temp\ipykernel_24064\1830722939.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  exit_year_month_count_cdta = year_month_exit_stations.groupby(['cdtaCode', 'Station_Readings_Exit_year_month']).sum().reset_index()\

In [18]:


cdta_burough_poly_df = stationWithCdta.set_index("cdtaCode")[["CDTAName", "borough","geometry"]].drop_duplicates()
cdta_burough_poly_df = cdta_burough_poly_df.drop('BK08')

condition = ~((cdta_burough_poly_df['CDTAName'] == 'BX08 Riverdale-Kingsbridge-Marble Hill (CD 8 Approximation)') & (cdta_burough_poly_df['borough'] == 'M'))
cdta_burough_poly_df = cdta_burough_poly_df[ condition ]

print(cdta_burough_poly_df.shape)

#cdta_burough_poly_df.to_csv('temp99.csv')
print(net_entry_cdta.index.tolist())

cdta_df = pd.concat([cdta_burough_poly_df,net_entry_cdta,net_exit_cdta,entry_day_count_cdta,exit_day_count_cdta,entry_hour_count_cdta,exit_hour_count_cdta,entry_weekday_count_cdta,exit_weekday_count_cdta,entry_year_month_count_cdta,exit_year_month_count_cdta], axis=1)
cdta_df.to_csv('subway_cdta.csv')
print(cdta_df.columns)
print(cdta_df.sum())
print(cdta_df.shape)

(57, 3)
['BK01', 'BK02', 'BK03', 'BK04', 'BK05', 'BK06', 'BK07', 'BK09', 'BK10', 'BK11', 'BK12', 'BK13', 'BK14', 'BK15', 'BK16', 'BK17', 'BK18', 'BK55', 'BX01', 'BX02', 'BX03', 'BX04', 'BX05', 'BX06', 'BX07', 'BX08', 'BX09', 'BX10', 'BX11', 'BX12', 'MN01', 'MN02', 'MN03', 'MN04', 'MN05', 'MN06', 'MN07', 'MN08', 'MN09', 'MN10', 'MN11', 'MN12', 'MN64', 'QN01', 'QN02', 'QN03', 'QN04', 'QN05', 'QN06', 'QN07', 'QN09', 'QN10', 'QN12', 'QN14', 'QN81', 'QN83', 'SI01']
Index(['CDTAName', 'borough', 'geometry', 'net_entries', 'net_exits',
       'Entry_total_trip_count_day_1', 'Entry_total_trip_count_day_2',
       'Entry_total_trip_count_day_3', 'Entry_total_trip_count_day_4',
       'Entry_total_trip_count_day_5',
       ...
       'Entry_total_trip_count_year_month_2022-03',
       'Entry_total_trip_count_year_month_2022-04',
       'Entry_total_trip_count_year_month_2022-05',
       'Entry_total_trip_count_year_month_2022-06',
       'Exit_total_trip_count_year_month_2022-01',
       'Exit_total_trip_count_year_month_2022-02',
       'Exit_total_trip_count_year_month_2022-03',
       'Exit_total_trip_count_year_month_2022-04',
       'Exit_total_trip_count_year_month_2022-05',
       'Exit_total_trip_count_year_month_2022-06'],
      dtype='object', length=141)
CDTAName                                    BK01 Williamsburg-Greenpoint (CD 1 Equivalent)...
borough                                     BkBkBkBkBkBkBkBkBkBkBkBkBkBkBkBkBkBkBxBxBxBxBx...
net_entries                                                                       321656010.0
net_exits                                                                         394672773.0
Entry_total_trip_count_day_1                                                       10588376.0
                                                                  ...
Exit_total_trip_count_year_month_2022-02                                           60119505.0
Exit_total_trip_count_year_month_2022-03                                           72693201.0
Exit_total_trip_count_year_month_2022-04                                           70305780.0
Exit_total_trip_count_year_month_2022-05                                           74390310.0
Exit_total_trip_count_year_month_2022-06                                           59965597.0
Length: 140, dtype: object
(57, 141)

C:\Users\panch\AppData\Local\Temp\ipykernel_24064\3546936648.py:15: FutureWarning: The default value of numeric_only in GeoDataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(cdta_df.sum())